In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import regex as re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')


from sklearn.preprocessing import LabelEncoder

[nltk_data] Downloading package stopwords to C:\Users\its
[nltk_data]     me\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [10]:
df = pd.read_csv('Tweets.csv')
df.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,5.703060e+17,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,24-02-2015 11:35,NaN,Eastern Time (US & Canada)
1,5.703010e+17,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,24-02-2015 11:15,NaN,Pacific Time (US & Canada)
2,5.703010e+17,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,24-02-2015 11:15,Lets Play,Central Time (US & Canada)
3,5.703010e+17,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,24-02-2015 11:15,NaN,Pacific Time (US & Canada)
4,5.703010e+17,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,24-02-2015 11:14,NaN,Pacific Time (US & Canada)

## Data Cleaning

In [11]:
df = df[['text','airline_sentiment']]
df.head()

                                                text airline_sentiment
0                @VirginAmerica What @dhepburn said.           neutral
1  @VirginAmerica plus you've added commercials t...          positive
2  @VirginAmerica I didn't today... Must mean I n...           neutral
3  @VirginAmerica it's really aggressive to blast...          negative
4  @VirginAmerica and it's a really big bad thing...          negative

In [12]:
def data_cleaning(text):
    text = text.lower()    #converts everything to lowercase
    text = re.sub('[^a-z]',' ',text) #only allowed small a-z anything apart from them will be replaced with  space
    words = text.split()    #Splits entire sentence into unique words
    imp_words = [w for w in words if w not in stop]  #Filters out important words from words
    return ' '.join(imp_words)

In [13]:
df['clean_text'] = df['text'].apply(lambda x: data_cleaning(x))
df.head()

,text,airline_sentiment,clean_text
0,@VirginAmerica What @dhepburn said.,neutral,virginamerica dhepburn said
1,@VirginAmerica plus you've added commercials t...,positive,virginamerica plus added commercials experienc...
2,@VirginAmerica I didn't today... Must mean I n...,neutral,virginamerica today must mean need take anothe...
3,@VirginAmerica it's really aggressive to blast...,negative,virginamerica really aggressive blast obnoxiou...
4,@VirginAmerica and it's a really big bad thing...,negative,virginamerica really big bad thing

In [6]:
le = LabelEncoder()
df['airline_sentiment'] = le.fit_transform(df['airline_sentiment'])
df.head()

,text,airline_sentiment,clean_text
0,@VirginAmerica What @dhepburn said.,1,virginamerica dhepburn said
1,@VirginAmerica plus you've added commercials t...,2,virginamerica plus added commercials experienc...
2,@VirginAmerica I didn't today... Must mean I n...,1,virginamerica today must mean need take anothe...
3,@VirginAmerica it's really aggressive to blast...,0,virginamerica really aggressive blast obnoxiou...
4,@VirginAmerica and it's a really big bad thing...,0,virginamerica really big bad thing

In [7]:
df = df[['clean_text','airline_sentiment']]
df.head()

                                          clean_text  airline_sentiment
0                        virginamerica dhepburn said                  1
1  virginamerica plus added commercials experienc...                  2
2  virginamerica today must mean need take anothe...                  1
3  virginamerica really aggressive blast obnoxiou...                  0
4                 virginamerica really big bad thing                  0

In [8]:
df.to_csv('cleaned_tweets_data.csv')